 /* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}
a {
  color: #007acc;
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1rem;
}
nav ul li a {
  color:white;
  font-weight: bold;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Hero Section */
.hero {
  background: #007acc;
  color: white;
  text-align: center;
  padding: 4rem 5rem;
  font-size:larger;
}
.hero h2 {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

/* Section */
.section {
  padding: 1rem 0;
}

/* Projects */
.project {
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-left: 10px solid #007acc;
 }

intership{
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-left: 10px solid #007acc;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.hero-text {
  flex: 1;
  min-width: 250px;
}

.hero-img {
  flex: 1;
  min-width: 270px;
  text-align: right;
  
}

.hero-img img {
  max-width: 40%;
  height: auto;
}